<a href="https://colab.research.google.com/github/Farah-Saleem91/Prediction-of-product-sales/blob/main/Farah_copy_of_happiness_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [51]:
#1-Read data frame https://drive.google.com/file/d/1vAWt1mfRguqW8JEBpi99mughWAQeV4ow/view?usp=drive_link
#2-Calculate the "Global happiness score" without cleaning data
#3=Find missing values
#4Handle missing values using the three approaches below, and calculate the global scores after applying each approach:
#A-Drop rows with missing values
#B-Replace missing values by placeholder -1
#C-Replace missing values by global mean
#Do missing values associated with the region ?
#What do you think could be the optimal approach for handling missing values on this column ?

In [52]:
fname = '/content/drive/MyDrive/AXSOSACADEMY/01-Fundamentals/Week02/Data/2015_masked - 2.csv'
df = pd.read_csv(fname)
df.head()

,Country,Region,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Afghanistan,Southern Asia,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210
1,Albania,Central and Eastern Europe,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894
2,Algeria,Middle East and Northern Africa,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209
3,Angola,Sub-Saharan Africa,NaN,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939
4,Argentina,Latin America and Caribbean,6.574,NaN,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Score                116 non-null    float64
 3   Economy (GDP per Capita)       138 non-null    float64
 4   Family                         158 non-null    float64
 5   Health (Life Expectancy)       158 non-null    float64
 6   Freedom                        158 non-null    float64
 7   Trust (Government Corruption)  158 non-null    float64
 8   Generosity                     158 non-null    float64
 9   Dystopia Residual              158 non-null    float64
dtypes: float64(8), object(2)
memory usage: 12.5+ KB

In [54]:
#2-Calculate the "Global happiness score" without cleaning data
df['Happiness Score'].mean()

np.float64(5.784758620689655)

In [55]:
#3-Find missing values
df.isna().sum()

Country                           0
Region                            0
Happiness Score                  42
Economy (GDP per Capita)         20
Family                            0
Health (Life Expectancy)          0
Freedom                           0
Trust (Government Corruption)     0
Generosity                        0
Dystopia Residual                 0
dtype: int64

drop method

In [69]:
#4Handle missing values using the three approaches below, and calculate the global scores after applying each approach:
#A-Drop rows with missing values

#make a df copy to save the changes
df1copy = df.copy()

df1copy=df1copy.dropna()
#df1copy= df1copy.dropna(subset=['Happiness Score'])

df1copy['Happiness Score'].mean()

#check null values using :
#df1copy['Happiness Score'].isna().sum()

np.float64(5.69021568627451)

palceholder method fill na with -1

In [57]:
#B-Replace missing values by placeholder -1
#creat another copy to save the changes
df2copy=df.copy()

df2copy['Happiness Score'] = df2copy['Happiness Score'].fillna(-1)
#df['Happiness Score'].isna().sum()
df2copy['Happiness Score'].mean()

np.float64(3.981215189873417)

In [58]:
#C-Replace missing values by global mean
#creat another df copy
df3copy=df.copy()
df3copy['Happiness Score'] = df3copy['Happiness Score'].fillna(5.78)
df['Happiness Score'].mean()

np.float64(5.784758620689655)

In [59]:
#Do missing values associated with the region ?
# we should use groupby method
nullValues_byRegion = df[df['Happiness Score'].isna()].groupby('Region').size()
nullValues_byRegion

Region
Southern Asia          5
Sub-Saharan Africa    37
dtype: int64

In [60]:
#What do you think could be the optimal approach for handling missing values on this column ?
df.groupby('Region')['Happiness Score'].mean()
# we can see the mean is 5.31 and 4.1, which is less than Global mean
#impute null values with the region mean
dflastcopy= df.copy()
dflastcopy['Happiness Score'] = dflastcopy['Happiness Score'].fillna(5.2)
dflastcopy['Happiness Score'].mean()

np.float64(5.629316455696203)

In [61]:
#impute null values with the region mean
dflastcopy= df.copy()
dflastcopy['Happiness Score'] = dflastcopy['Happiness Score'].fillna(5.2)
dflastcopy['Happiness Score'].mean()

np.float64(5.629316455696203)

In [62]:
#first mean 5.78
# drop 5.69
#fillna 3.98
# fill with global mean 5.78
# fill with region mean 5.62